// SIZES
@mobile-header__height: 156px;

@max-width-view: 1440px;
// SPACING
@indent__base: 16px;
@indent__xxs: @indent__base * .125; // 2px
@indent__xs: @indent__base * .25; // 4px
@indent__s: @indent__base * .5;   // 8px
@indent__sm: @indent__base * .75; // 12px
@indent__m: @indent__base * 1.5;  // 24px
@indent__l: @indent__base * 2;    // 32px
@indent__xl: @indent__base * 2.5; // 40px
@indent__xxl: @indent__base * 3;  // 48px
@indent__xxxl: @indent__base * 3.75; // 60px
@indent__xxxxl: @indent__base * 4;  // 64px
@indent__xxxxxl: @indent__base * 5; //80px

// Theme Specific Variables

//
//  Colors - http://chir.ag/projects/name-that-color/
//  ======================================================================

@conifer: #a5d04c;
@apple: #68ad45;
@fun-green: #1E6E37; // #009636; - old one
@camarone: #006128;
@color-white: #fff;
@spring-wood: #faf8f6;
@dawn-pink: #f7f2ec;
@mercury: #e5e5e5;
@silver: #ccc;
@bombay: #b1b1b2;
@nobel: #b3b3b3;
@dustygray: #999;
@scorpion: #575656;
@charcoal: #201E1A;
@chicago: #595856;
@black: #000;

@the-light-brown: #f4eee6;
@the-blue: #0192D0;
@hot-cinnamon: #d25c1f;
@indochine: #C07600;
@light-orange: #FFD860;
//
//  Utility Colours
//  ======================================================================

@color__stock_in: @fun-green;

//
//  Utility Colours
//  ======================================================================


@color__text_primary: @charcoal;
@color_button_secondary: @fun-green;
@color__text_secondary: @dustygray;

@color__box-shadow: @chicago;

//
//  Breakpoints
//  ======================================================================

@breakpoint__small-mobile: 375px;
@breakpoint__mobile: 991px;
@breakpoint__tablet: 991px;
@breakpoint__tablet-landscape: 1280px;
@breakpoint__desktop: @breakpoint__tablet;

//
//  Borders & Backgrounds
//  ======================================================================

@color__border_primary: @mercury;
@color__border_secondary: @fun-green;
@color__border_tertiary: @silver;
@color__border_dark: @bombay;
@color__border_message: @the-blue;

@color__form-background--light: @spring-wood;
@background__primary: @dawn-pink;
@background__secondary: @color-white;
@background__tertiary: @fun-green;
@background_quaternary: @the-light-brown;

@background__highlight: @apple;

@background__gradient_white: linear-gradient(rgba(255,255,255,.001) 0, @color-white);

@color__background_primary: @background__primary;
@color__background_secondary: @background__secondary;
@color__background_tertiary: @background__tertiary;

@campaign__background-color: rgba(0,150,54,.9);

@color__active_primary: @fun-green;
@color_link: @fun-green;
